.above {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 2px dashed black;
}
.above .top-contain {
  width: 100%;
}
.above .top-contain h1 {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 30px;
}
.above .top-contain nav {
  display: flex;
  justify-content: space-around;
}
.above .top-contain nav a {
  font-size: 3rem;
  text-decoration: none;
  color: black;
}
@media (min-width: 800px) {
  .above {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px dashed black;
  }
  .above .top-contain {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
  }
  .above .top-contain h1 {
    font-size: 5rem;
    padding-bottom: 0;
  }
  .above .top-contain nav {
    width: 60%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .above .top-contain nav a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    margin-left: 7%;
    align-self: center;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.footer {
  width: 100%;
  border-top: 2px dashed black;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.2rem;
  padding: 40px 0;
}
@media (min-width: 800px) {
  .footer {
    width: 100%;
    border-top: 2px dashed black;
    background: #FFEBCD;
  }
  .footer p {
    text-align: center;
    color: #212529;
    font-size: 1.2rem;
    padding: 20px 0;
  }
}
.home .content-section {
  margin: 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .first-sec {
  padding-bottom: 30px;
  border-bottom: 2px dashed black;
}
.home .content-section .first-sec .bus-banner {
  width: 100%;
  height: 200px;
}
.home .content-section .first-sec h2 {
  padding: 20px 0;
  font-size: 5rem;
}
.home .content-section .first-sec p {
  font-size: 2rem;
}
.home .content-section .text-content {
  padding-right: 0;
  padding: 30px 0;
  display: flex;
  flex-flow: column wrap;
}
.home .content-section h2 {
  font-size: 5rem;
  padding: 20px 0;
}
.home .content-section p {
  font-size: 2rem;
}
.home .content-section .img-content {
  width: 48%;
  width: 100%;
}
.home .content-section .img-content img {
  border-radius: 10px;
  width: 100%;
}
@media (min-width: 800px) {
  .home .content-section {
    display: flex;
    justify-content: space-between;
  }
  .home .content-section .first-sec {
    padding-bottom: 30px;
    border-bottom: 1px dashed black;
  }
  .home .content-section .first-sec .bus-banner {
    width: 100%;
  }
  .home .content-section .first-sec h2 {
    padding: 20px 0;
    font-size: 5rem;
  }
  .home .content-section .first-sec p {
    font-size: 2rem;
  }
  .home .content-section .text-content {
    width: 48%;
    padding-right: 1%;
    padding-right: 0;
  }
  .home .content-section h2 {
    font-size: 5rem;
  }
  .home .content-section p {
    font-size: 2rem;
  }
  .home .content-section .img-content {
    width: 48%;
    padding-left: 1%;
    padding: 30px 0;
  }
  .home .content-section .img-content img {
    border-radius: 10px;
  }
}
.home .inverse-content {
  padding-bottom: 50px;
  border-bottom: 2px dashed #C0C0C0;
  display: flex;
  flex-flow: row wrap;
}
.home .inverse-content .text-content {
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination h2 {
  font-size: 5rem;
}
.home .content-destination p {
  font-size: 2rem;
  width: 100%;
}
.home .content-destination img {
  border-radius: 10px;
  width: 100%;
}
.home .content-pick {
  padding: 20px 0;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home .content-pick .destination {
  width: 27%;
  margin-bottom: 30px;
  margin-right: 5%;
}
.home .content-pick .destination h4 {
  font-size: 3rem;
  padding-bottom: 10px;
}
.home .content-pick .destination p {
  font-size: 1.5rem;
  padding-bottom: 40px;
}
.home .content-pick .destination .btn {
  background: #04dbdb;
  color: white;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  font-size: 2rem;
}
